@import "../../_settings/_variables.css";

.headline1 {
  font-style: normal;
  font-weight: normal;
  font-size: 97px;
  line-height: 106px;
  letter-spacing: -1.5px;
  color: var(--high-emphasis);
}
