@import "../../_settings/_variables.css";

.Headline4 {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 37px;
  letter-spacing: 0.25px;
  margin: 8px;
  color: var(--font);
}
